%article.instances
  %header.instances__title
    %h1 The Soundstorm Universe
  %main.instances__listing
    - if @instances.any?
      %dl
        = render @instances
    - else
      %p.instances__empty No instances have been registered.

