.instances {
  max-width: 960px;
  margin: 0 auto;
}
.instances__title {
  h1 {}
}
.instances__listing {
  dl {}
}

.instances__empty {
  text-align: center;
}

.instance {}
.instance__name {}
.instance__version {}
